@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #29335c;
  --color-secondary: #4a4a4a;
  --color-accent: #e99f0c;
  --color-neutral: #e1e5ee;
  --color-hover: #558b6e;
  --color-danger: #b42b18;
  /* 💫 Hover States */
  --color-primary-hover: #1f284b; /* น้ำเงินเข้มกว่า */
  --color-accent-hover: #d48d00; /* เหลืองทองเข้มขึ้น */
  --color-danger-hover: #942312; /* แดงเข้มขึ้น */
  --color-neutral-hover: #d5dae6; /* เทาอ่อนเข้มขึ้น */
  --color-success-hover: #558b6e; /* เขียวธรรมชาติ (ถ้ามี success state) */

  /* 🧱 Backgrounds */
  --color-bg: #e1e5ee; /* พื้นหลังทั่วไป */
  --color-bg-dark: #29335c; /* พื้นหลังเข้ม เช่น navbar หรือ footer */

  /* 📝 Text */
  --color-text: #1a1a1a; /* ตัวอักษรหลัก */
  --color-text-secondary: #4a4a4a; /* ตัวอักษรรอง */
  --color-text-light: #e1e5ee; /* ตัวอักษรบนพื้นเข้ม */

  /* ⚡ Optional Highlights */
  --color-highlight: #e99f0c; /* สีเน้นข้อความหรือ icon */
}
* {
  font-family: "Sarabun", sans-serif;
}
.font-title {
  @apply font-bold text-primary text-2xl md:text-4xl;
}
.btn-noti {
  @apply relative p-2.5  hover:text-accent rounded-xl transition-all duration-300;
}
.card-dashboard {
  @apply bg-white shadow rounded-lg  w-full gap-4 py-4 px-4;
}
.card-title {
  @apply text-gray-600 text-2xl font-semibold;
}
.table-body {
  @apply px-6 py-4;
}
.card-text {
  @apply md:text-4xl font-bold text-left  text-2xl;
}

.button-create {
  @apply bg-accent hover:bg-accent-hover text-white font-semibold py-2 px-4 rounded-lg transition duration-300 ease-in-out cursor-pointer flex items-center gap-2 shadow-md;
}

.input-field {
  @apply w-full px-4 py-2 rounded-lg border border-bg bg-gray-50 text-text
                focus:outline-none focus:ring-2 focus:ring-accent focus:border-accent
                transition-all duration-200 shadow-md hover:shadow;
}
/* Search */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/* Scroll */
.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

.animate-scaleIn {
  animation: scaleIn 0.2s ease-out;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #e99f0c;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d48d00;
}
