@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #2e7d32;
  --color-secondary: #4caf50;
  --color-accent: #6b8e23;
  --color-neutral: #f5f5f5;
  --color-hover: #558B6E;
}
* {
  font-family: "Sarabun", sans-serif;
}
.font-title {
  @apply text-4xl font-bold text-accent;
}
.btn-mail{
  @apply relative p-2.5 hover:bg-hover hover:text-white rounded-xl transition-all duration-300 ;
}
.card-dashboard{
  @apply bg-white shadow-md rounded-xl px-6 py-4;
}
.card-title{
  @apply text-2xl font-bold text-primary;
}